<div class="container login-c   ontainer">
    <div class="row">
        <div class="col-md-4 col-s-4 col-xs-4"></div>
        <div class="col-md-4 col-s-4 col-xs-4 login-form-1">
            <h3> Login </h3>
            <hr>
            <form action="/login/login" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" value="" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" value="" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btnSubmit w-100" value="Login" />
                </div>
                <div class="form-group">
                    <a href="#" class="ForgetPwd" value="Login">Forget Password?</a>
                </div>
                <a href="/" class="ForgetPwd"> Signup </a>
            </form>
        </div>
    </div>
</div>